<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Sucursales</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products">
                                        <td>
                                           <img class="img" [src]="product.coverImage"> 
                                        </td>
                                        <td>
                                            {{product.name}}
                                        </td>
                                        <td>
                                            {{product.sku}}
                                        </td>
                                        <td>
                                            ${{product.price}}
                                        </td>
                                        <td>
                                            <button mat-raised-button type="submit" class="btn btn-primary" (click)="details(product.id)">Detalles</button>
                                            <button mat-raised-button type="submit" class="btn btn-danger">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  